*{
    margin: 0;
    padding: 0;

}
@font-face {
	font-family: Regular ;
	src: url(Fonts/ARLRDBD.ttf);
}

@font-face {
	font-family: Rounded;
	src: url(Fonts/unicode.arialr.ttf);
}



/* NEWS FRAME AREA TOP LEVEL PAGE - WIDTH ADDS BORDER */

*{
	margin: 0;
	padding: 0;
}

.headings{
    margin: 20px;
}
.headings .Alcom_logo img{
    position:absolute;
    width: 80px;
    top:10px;
}
.headings .mnit_txt:after{
    position: absolute;
    top: 0;
    border-radius: 2px;
    left:-15px;
    content: '';
    background-color: #0054A6;
    width: 5px;
    height: 80px;
}
.headings .mnit_txt{
    font-family: Regular;
    top: 7px;
    line-height: 35px;
    position:absolute;
    left: 125px;
    font-size: 40px;
    color: #0054A6;
}
.headings .mnit_txt p{
    font-size: 15px;
    color: #0054A6;
}

@media screen and (max-width:600px) {
    .headings .Alcom_logo img{
        width: 60px;
		top: 20px;
    }
    .headings .mnit_txt{
        top:25px;
        line-height: 20px;
        font-size: 30px;
        left: 100px;
    }
    .headings .mnit_txt:after{
        width:2px;
        top:-5px;
        left: -10px;
        height: 60px;
    }
    .headings .mnit_txt p{
        font-size: 8px;
    }
}


.bg-guest{
  

    /* height:; */
    height: 100vh;
    /* opacity: 0.5; */
    /* filter: blur();    */
     background-blend-mode:darken;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
}
.heading_guest{
    font-size: 3rem;
    color: #0054a6;
    font-weight: 600;
    margin: 2rem;
    /* opacity: 1; */

}
.details_guest{
    color: #000;
    font-size: 1.2rem;
    text-align: justify;
    width: 100vh;
    line-height: 25px;
    /* opacity: 1; */

}
.btn_readmore{
    
    /* width: 10rem; */
    margin: 50px;
}
.btn_read{
    width: 10rem;
    height: 3rem;
    border-radius: 3px;
    border: 2px solid #0054a6;
    color: #0054a6;
    background-color: transparent;
    font-size: medium;
    
}
.btn_read a{
    text-decoration:none ;
    color: #fff;width: 100%;

}
.btn_read:hover{
    background-color: #0054a6;
    cursor: pointer;
    color: #fff;
    
}