@font-face {
    font-family: Regular;
    src: url(Fonts/ARLRDBD.ttf);
}

@font-face {
    font-family:Rounded;
    src: url(Fonts/unicode.arialr.ttf);
}

.Mag_section{
    z-index: 2000;
    background: linear-gradient(-135deg, #14a3de, #0054A6);
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 80%;
    height: 98%;
    border-radius: 10px;
    font-family: Rounded;
    opacity: 0;
    clip-path: polygon(0 0,0 0,0 0,0 0);
    transition: all 0.5s ease-out;
}
.Mag_head h1{
    text-align: center;
    color: #fff;
    font-size: 45px;
}

.Mag_gallery{
    margin: 25px 50px;
    overflow-y: scroll;
    height: 80%;
    scroll-behavior: smooth;
}
.Mag_gallery img{
    width:24%;
    padding: 5px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.Mag_gallery img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}